*{
    /*margin: 0;
    padding: 0;*/
    font-family: 'Inter';
    box-sizing: border-box;
}
html{
    background-color: black;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    gap: 30px;
    bottom: 20px;
    top: 20px;
    border: 1px solid #B1A592;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
   
}
.left{

}
.atx1{
border: 1px solid #B1A592;
background: #323025;
border-radius: 50px;
color: #B1A592;
width: 150px;
height: 30px;
}

.atx2{
border: 1px solid #B1A592;   
background: #B1A592;
border-radius: 50px;
color: #333333;
width: 150px;
height: 30px;
}

.atx{
color: #B1A592;
background: #333333;
border-radius: 50px;
width: 150px;
height: 30px;
}

.grid-container{
  display: grid;
  grid-template-columns: 2fr repeat(12, minmax(auto, 30px)) 2fr;
  grid-gap: 10px;
  padding: 60px 0;
  padding-top: 8px;
  padding-left: 10px;

}
.card{
border: 1px solid #DFD6C5;
background: #DFD6C5;
border-radius: 30px;
padding-top: 30px;
padding-left: 20px;
width: 520px;
}
.btn{
    border: 1px solid #323025;
    background: #DFD6C5;
    border-radius: 50px;
    color: #333333;
    width: 150px;
    height: 30px;
}
.card-info{
    display: flex;
    justify-content: space-around;
    justify-items: le;
}
hr{
    border: 1px solid #333333;
}
.card1{
    background: #8E886D;
     border-radius: 30px;
     height: 300px;
     width: 710px;
     padding-top: 30px;
     padding-left: 20px;
     
    }
.btn1{
    border: 1px solid #323025;
    background: #8E886D;
    border-radius: 50px;
    color: #333333;
    width: 150px;
    height: 30px; 
}    
.cont{
    display: flex;
    align-items: center;
} 
.cont2{
    padding-left: 10px;
}
.card2{
    background: #916E58;
     border-radius: 30px;
     height: 430px;
     width: 300px;
     padding-top: 30px;
     padding-left: 5px;

}
.card3{
    background: #B1A48E;
     border-radius: 30px;
     height: 430px;
     width: 400px;
     padding-top: 30px;
     padding-left: 20px;
}
.card-container1{
    display: flex;
    justify-content: left;
    padding-top: 30px;
    gap: 10px;
    padding-left: 3px;
}
.btn4{
    border: 1px solid #323025;
    background: #B1A48E;
    border-radius: 50px;
    color: #333333;
    width: 150px;
    height: 30px; 
}   
@media (max-width: 600px) {
    body {
      
    }
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body{
      
    }
  }  
  .card3:hover{
    transform: translateY(-20px);
  }
  .card2:hover{
    transform: translateY(-20px);
  }
  .card:hover{
    transform: translateY(-20px);
  }
  .card1:hover{
    transform: translateY(-20px);
  }